@import './styling/colors';
@import './styling/mixins';

.list {
	&-accordion {
		border-bottom: solid 1px $border-widget;
		padding: 32px 16px;
		&:last-child {
			border-bottom: none;
			padding: 32px 16px 32px;
		}
	}

	&-title--completed {
		color: $text-accent;
		.fa {
			margin-right: 10px;
			background-color: $bg-bar;
		}
	}

	&-contentHeader {
		border-radius: 8px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		margin: 0px;

		.fa {
			// TODO : get a right icon and bg and color won't be necessary
			margin-right: 10px;
			background-color: black;
			color: white;
			padding: 1px;
			border-top-right-radius: 8px;
		}

		.list-title--completed {
			.fa {
				background-color: $bg-bar;
			}
		}
	}

	&-toggleAction {
		align-items: center;
		display: flex;
		font-size: 16px;
		font-weight: lighter;
		justify-content: space-around;
		transition: rotate 0.3s;
		&::after {
			transform: (rotate(0deg));
			content: '';
			border-right: solid 1px;
			border-top: solid 1px;
			display: block;
			height: 10px;
			margin-left: 10px;
			transform: (rotate(135deg));
			transition: transform 0.2s ease-out;
			width: 10px;
		}

		&--active {
			// transition: transform 0.3s ease-in-out;
			&::after {
				transition: transform 0.2s ease-out;
				transform: (rotate(-45deg));
			}
		}
	}
}
