@import './styling/colors';
@import './styling/mixins';

.item {
   
    align-items: center;
    color: $text-common;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 32px;

    &-description {
        color: $text-common;
        margin-left: 10px;
    }
    &-toggle {
        color: $text-common;
        &--active {
            &.fa {
                &-check::before {
                    background:$bg-bar;
                    border-radius: 2px;
                    color: white;
                    font-size: 10px;
                    padding: 2px;
                }
            }
        }
    }
     
}   